<!-- <h1>Results#show</h1>
<p>Find me in app/views/results/index.html.erb</p> -->

<h1><%= @event.name %>: results of <%= @category.cat%></h1>

<div>
  <% @pools.each do |pool| %>
<h1> Pool <%= pool.name %>: </h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Team</th>
      <th>Score</th>
      <th>Score</th>
      <th>Opposing Team</th>
      <th>Points</th>
    </tr>
  </thead>
<% @teams.each do |teameach| %>
<% same_pool = Match.where(pool: pool, hometeam: teameach) + Match.where(pool: pool, awayteam: teameach) %>
<% if same_pool.empty? %>
<% else %>
  <tbody>
    <% same_pool.each do |match| %>
    <tr>
      <td><%= match.day_time.strftime("%B %d") %></td>
      <% if  teameach == match.hometeam %>
      <td><%= teameach.name %></td>
      <td><%= match.hometeam_score %></td>
      <td><%= match.awayteam_score %></td>
      <td><%= match.awayteam.name %></td>
      <% else %>
      <td><%= teameach.name %></td>
      <td><%= match.awayteam_score%></td>
      <td><%= match.hometeam_score %></td>
      <td><%= match.hometeam.name %></td>
      <% end %>
      <% if  match.hometeam_score %>
      <td><%= Point.where(match: match, team: teameach).first.pt %></td>
      <% else %>
      <td> - </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
<% end %>
<% end %>
</table>
<% end %>
</div>

<div>
  <%= render partial: "results/shared/partials/poolsresults" %>
</div>
