<!-- <h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p> -->

<h1><%= @event.name %></h1>

<p>When:</p><h3><%= @event.when %></h3>
<p>Where:</p><h3><%= @event.city %></h3>

<div>
  <% @categories.each do |category| %>
  <h2><%= category.cat %></h2>
  <div>
    <ul>
    <% @teams.where(category: category).each do |team| %>
    <li>
    <%= link_to team.name, event_team_path(@event, team), method: :get %>
    </li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div>
  <ul>
  <% @categories.each do |category| %>
    <li>
  <h3><%= link_to "Results of #{category.cat}",   event_category_results_path(@event, category), method: :get %>
  </h3>
  </li>
  <% end %>
</ul>
</div>

<div>
  <ul>
  <% @categories.each do |category| %>
    <li>
  <h3><%= link_to "Spirt of the Game of #{category.cat}",   event_category_sotgs_path(@event, category), method: :get %>
  </h3>
  </li>
  <% end %>
</ul>
</div>

<% @days.each do |day| %>
<h3> <%= day %> </h3>
<% @locations.each do |location| %>
<% same_day_loc = [] %>
<% @matches.each do |match| %>
  <% if match.address == location && match.day_time.strftime("%A %d,%B,%Y") == day %>
    <% same_day_loc << match %>
  <% end %>
<% end %>
<% if same_day_loc.empty? %>
<% else %>
<% same_day_loc.sort! do |a, b|
      a[:field]<=>b[:field]
    end.sort! do |a, b|
      a[:day_time]<=>b[:day_time]
    end %>
<table>
  <thead>
    <tr>
      <th> <%= location %> </th>
    </tr>
    <tr>
      <th>Time</th>
      <th>Field</th>
      <th>Team</th>
      <th>Score</th>
      <th>score</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% same_day_loc.each do |match| %>
    <tr data-match-id="<%= match.id %>" >
      <td><%= match.day_time.hour %>:<%= match.day_time.min%></td>
      <td><%= match.field %></td>
      <td><%= match.hometeam.name %></td>
      <td><%= match.hometeam_score %></td>
      <td><%= match.awayteam_score%></td>
      <td><%= match.awayteam.name %></td>
      <% if current_user == @event.user %>
      <td><%= link_to "Edit", edit_event_match_path(@event, match),  class: "btn btn-ghost", method: :GET %></td>
      <td><%= link_to "Delete", event_match_path(@event, match), remote: true,  class: "btn btn-ghost", method: :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
<% end %>

<% end %>
<button><%= link_to "new match", new_event_match_path(@event),  class: "btn btn-ghost", method: :GET %></button>



