<!-- <h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p> -->

<h1><%= @event.name %></h1>

<div>
<% @teams.each do |team|  %>
<%= link_to team.name, event_team_path(@event,team), method: :get %>
<%end %>
</div>

<div>
  <%= link_to "Results", event_results_path(@event), method: :get %>
</div>

<p>When:</p><h2><%= @event.when %></h2>
<p>Where:</p><h2><%= @event.where %></h2>

<% @pools.each do |pool| %>
<h1>GAMES <%= pool %>: </h1>

<% @datetime.each do |eachday| %>
<% @locations.each do |location| %>
<% same_day_loc = Match.where(day:eachday, where:location, name: pool) %>
<% if same_day_loc.empty? %>
<% else %>
<h3> <%= eachday %> </h3>
<h3> <%= location %> </h3>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Field</th>
      <th>Team</th>
      <th>Score</th>
      <th>score</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% same_day_loc.each do |match| %>
    <tr>
      <td><%= match.start_time.hour %>:<%= match.start_time.min%></td>
      <td><%= match.field %></td>
      <td><%= Team.find(match.hometeam_id).name %></td>
      <td><%= match.hometeam_score %></td>
      <td><%= match.awayteam_score%></td>
      <td><%= Team.find(match.awayteam_id).name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>
<% end %>
<% end %>
