<!-- <h1>Sotgs#new</h1>
<p>Find me in app/views/stogs/new.html.erb</p> -->

<%#= render partial: "shared/partials/tab" %>

<div>
<h1>Modulo valutazione SOTG</h1>

Questo è il metodo di valutazione dello Spirit of the Game ai CIU 2019.
Lo Spirito del Gioco è un aspetto fondamentale dell'Ultimate. In questa ottica il presente modulo è stato pensato per educare le squadre allo Spirito del gioco e aiutarle ad ottenere una maggiore consapevolezza dei loro punti di forza e delle loro debolezze in termini di Spirito di gioco.

L’intera squadra dovrebbe essere coinvolta nella valutazione dello SOTG della squadra avversaria. Bisogna semplicemente contrassegnare una casella in ciascuna delle cinque linee e sommare i punti per determinare il punteggio finale assegnato all’altra squadra.

Importante: se selezionate 0 (*) o 4 (*) in una qualsiasi categoria, inserite un commento sintetico dei fatti accaduti. Commenti positivi e negativi saranno comunicati nella maniera appropriata alla squadra interessata. Il commento è comunque disponibile anche per partite in cui non vengano assegnati 0 o 4.

Ti ricordiamo che è disponibile un documento che contiene esempi per la valutazione di ogni categoria dello SOTG. Questo documento dovrebbe aiutare le squadre a comprendere quali siano le azioni valutate come buono Spirito, e a standardizzare la valutazione.

Il documento è disponibile nella sezione SOTG del sito <a href="http://fifd.it/"></a> e nella cartella dropbox contenente tutti i documenti per la valutazione dello SOTG: <a href="https://tinyurl.com/SOTGPACK"></a>

<p>Your team: <%= @current_team.name %> </p>
<p>Opposing team: <%= @opposing_team.name %> </p>
<p>Match: <%= @match.name %> </p>

<%= simple_form_for @sotg, url: event_match_sotgs_path do |f| %>

<h2>1. Conoscenza ed applicazione delle regole
</h2>
<p>Esempi: non hanno fatto chiamate ingiustificate. Non hanno intenzionalmente frainteso le regole. Hanno osservato/rispettato i limiti di tempo. Quando non conoscevano le regole, hanno dimostrato volontà di impararle.</p>

<%= f.input :sotg1, :label => "", as: :radio_buttons, collection: Sotg::VOTES, label_method: :second, value_method: :first %>


<h2>2. Falli e contatto fisico</h2>
<p>Esempi: hanno evitato falli, contatti e giocate pericolose.</p>

<%= f.input :sotg2, :label => "", as: :radio_buttons, collection: Sotg::VOTES, label_method: :second, value_method: :first %>

<h2>3. Comportamento leale e corretto</h2>
<p>Esempi: si sono scusati nelle situazioni appropriate, hanno informato i propri compagni di squadra quando essi facevano chiamate errate o fuori luogo. Hanno effettuato solo chiamate significative.</p>

<%= f.input :sotg3, :label => "", as: :radio_buttons, collection: Sotg::VOTES, label_method: :second, value_method: :first %>

<h2>4. Atteggiamento positivo e auto controllo</h2>
<p>Esempi: si sono comportati educatamente. Hanno giocato con un'appropriata intensità indipendentemente dal punteggio. Hanno lasciato complessivamente una impressione positiva sia durante, sia dopo la partita.</p>

<%= f.input :sotg4, :label => "", as: :radio_buttons, collection: Sotg::VOTES, label_method: :second, value_method: :first %>

<h2>5. Comunicazione</h2>
<p>Esempi: hanno comunicato rispettosamente. Hanno ascoltato. Hanno mantenuto le discussioni entro i limiti di tempo.</p>

<%= f.input :sotg5, :label => "", as: :radio_buttons, collection: Sotg::VOTES, label_method: :second, value_method: :first %>

<p>Commenti
Importante: se selezionate 0 (*) o 4 (*) in una qualsiasi categoria, inserite un commento sintetico dei fatti accaduti. Commenti positivi e negativi saranno comunicati nella maniera appropriata alla squadra interessata.</p>

Inserisci qui il tuo commento:
<%= f.input :comment %>
<%= f.hidden_field :voting_team_id, :value => @current_team.id%>
<%= f.hidden_field :voted_team_id, :value => @opposing_team.id%>

  <div>
    <p>Non inviare mai le password tramite Moduli Google.</p>
  </div>
</div>


  <%= f.button :submit, class: "btn-primary" %>
<% end %>

