<!-- <h1>EMatches#show</h1>
<p>Find me in app/views/matches/edit.html.erb</p> -->

<% if current_user == @event.user %>

<div>

  <%= simple_form_for @match, url: event_matches_path, method: :post do |f| %>

  <%= f.input :name%>
  <%= f.input :category, collection: @event.categories.sort_by { |a| [a[:cat]]} ,label_method: :cat, value_method: :id %>
  <%= f.input :address, :autocomplete "on" %>
  <%= f.input :field %>
  <%= f.input :field %>

  <div>
    <p>Non inviare mai le password tramite Moduli Google.</p>
  </div>

  <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
<% else current_user.present? %>
  <div>
    <p>You are not allowd to modify the schedule!</p>
  </div>
<% end %>
